.inbox-sidebar .sidebar-header {
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 10;
}

.inbox-sidebar .sidebar-footer i {
  font-size: 1.2rem;
  cursor: pointer;
  color: #666;
}

.inbox-sidebar .sidebar-footer i:hover {
  color: #000;
}
.list-item-inbox img{
 border-radius: 50%;
}

.status-dot {
  width: 10px;
  height: 10px;
  display: inline-block;
}

.list-item-inbox {
  border: none;
  padding: 12px 16px;
  cursor: pointer;
  border-radius:5px;
  transition: background-color 0.2s ease;
}

.list-item-inbox:hover {
  background-color: #f5f6f8;
}

.list-item-inbox.active {
  background-color: var(--color-background-lighter);
  color:black;
  /* border-left: 3px solid #007bff; */
}
.conversation-thread {
  height: calc(100vh - 180px); /* adjust based on header/footer height */
  overflow-y: auto;
  background-color: #f8f9fa;
  border-radius: 8px;
}
.user-chat div p{ 
  border-radius: 10px;
  padding:var(--margin-padding-small);
    /* background: red; */
}
.user-chat .bg-primary-custome{
  background-color: var(--color-background-light);
  color: rgb(0, 0, 0);
}
.user-chat .bg-light-custome{
  background-color: var(--color-background-gray);
  color: rgb(0, 0, 0);
}